{% extends 'project/base.html' %}
{% load static %}

{% block title %}
    <title> 
        Lost and Found - Home
    </title>
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'project/css/homepage.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="homepage">
        <h2 class="homepage-title" >All Available Posts</h2>
        <ul>
            {% for post in posts %}
                    <div class="post-item">
                    <span class="post-header">
                        {% if post.owner == user %}
                            <a class="owner" href="{% url 'myposts' %}">
                                <img class="user-img" src="{% static 'project/images/user-blank.svg' %}" alt="{{ profile.name|default:'User' }}">
                                {{ post.owner.profile.name }}
                            </a>
                        {% else %}
                        <a class="owner" href="{% url 'userposts' post.owner.id %}">
                            <img class="user-img" src="{% static 'project/images/user-blank.svg' %}" alt="{{ profile.name|default:'User' }}">
                            {{ post.owner.profile.name }}
                        </a>
                        {% endif %}
                        <div class="location-time">
                            <h3 class="post-location">Location found at: {{ post.location.name }}</h3>
                            <h3 class="post-time">Time found: {{ post.time_found|date:"F j, Y, g:i a" }}
                        </div>
                    </span>
                        <a class="post-content" href="{% url 'postdetails' post.id %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </a>
                    </div>
            {% empty %}
                <h2 class="homepage-title">No posts available.</h2>
            {% endfor %}
            
        </ul>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}