{% extends 'project/base.html' %}

{% block header %}
{% endblock %}

{% block main %}
    <h2>Available Posts</h2>
    <ul>
        {% for post in posts %}
                <div class="post-item">
                    {% if post.owner == user %}
                        <a class="owner" href="{% url 'myposts' %}">
                            {{ post.owner.profile.name }}
                        </a>
                    {% else %}
                    <a class="owner" href="{% url 'userposts' post.owner.id %}">
                        {{ post.owner.profile.name }}
                    </a>
                    {% endif %}
                    <a class="post-content" href="{% url 'postdetails' post.id %}">
                        <h2>{{ post.title }}</h2>
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    </a>
                </div>
        {% endfor %}
        
    </ul>
{% endblock %}

{% block footer %}
{% endblock %}