{% extends 'project/base.html' %}
{% load static %}

{% block title %}
    <title>
        Login - Lost and Found
    </title>
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'project/css/login.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
                <input class="input-field" type="text" name="username" placeholder="Username" required><br>
                <input class="input-field" type="password" name="password" placeholder="Password" required><br>
                <button class="submit-button" type="submit">Login</button>
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>
        <p>Don't have an account? <a class="signup-url" href="{% url 'signup' %}">Sign up!</a></p>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}