{% extends "project/base.html" %}

{% block header %}
{% endblock %}

{% block main %}
<h2>My Posts</h2>

<form method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>

<button onclick="window.location.href='{% url 'createpost' %}'">Create New Post</button>

<ul>
  {% for post in posts %}
    <div class="post-item">
      <a href="{% url 'postdetails' post.id %}">{{ post.title }}
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% if post.is_solved %}
            (Solved)
        {% endif %}
        </a>
    </div>
  {% empty %}
    <h2>No posts yet.</h2>
  {% endfor %}
</ul>
{% endblock %}