{% extends "project/base.html" %}
{% load static %}

{% block title %}
    <title>
        My Posts - Lost and Found
    </title>
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'project/css/myposts.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="myposts">
  <h2 class="myposts-title">My Posts</h2>
  <p class="contact-info">Contact: {{ user.profile.contact }}</p>

  <button class="create-button" onclick="window.location.href='{% url 'createpost' %}'">New Post <br> +</button>

  <ul class="posts">
    {% for post in posts %}
      <div class="post-item">
        <a class="post-content" href="{% url 'postdetails' post.id %}">
          <h2>{{ post.title }}</h2>
          <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
          {% if post.is_solved %}
              (Solved)
          {% endif %}
          </a>
      </div>
    {% empty %}
      <div></div>
      <h2 class="noposts-text">No posts yet.</h2>
    {% endfor %}
  </ul>

  <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button class="logout-button" type="submit">Logout</button>
  </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}