@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #e9eef6;
}

a { 
    text-decoration: none; 
    color: inherit; 
}

h2 {
    font: 600 3.5vh 'Inter', sans-serif;
}

main {
    flex: 1;
    padding-top: 9vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 0 4px 10px rgba(30, 30, 30, 0.1);
    height: 9vh;
    font: 600 1.5rem 'Inter', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 4vh;
}

.login {
    margin-left: auto;
    margin-right: 2.5vw;
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 3vh;
    padding: 0.75vh 1.75vh;
}

.login:hover {
    background-color: darkblue;
    color: white;
    transition: background-color 0.4s, color 0.5s;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-left: auto;
    margin-right: 2.5vw;
}

.user-img {
    opacity: 0.75;
    width: 5vh;
    height: 5vh;
    object-fit: cover;
}

.user-name {
    line-height: 1;
    transform: translateY(+0.5vh);
}
.post-item:hover {
    box-shadow: 0 6px 15px rgba(30, 30, 30, 0.2);
    transform: translateY(-0.5vh);
}
.noposts-text {
    display: block;
    display: flex;
    justify-self: center;
    font: 600 4.5vh 'Inter', sans-serif;
    margin-top: 20vh;
    margin-bottom: 15vh;
    margin-right: auto;
    margin-left: auto;
}
.contact-info {
    display: flex;
    justify-content: center;
    font: 500 2.5vh 'Inter', sans-serif;
    margin-top: -1vh;
    margin-bottom: 2vh;
    color: #333333;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    font: 600 1rem 'Inter', sans-serif;
}
